mixin map()
    +b('section').map
        +e.container
            +e.slider
                +e.item Май
                +e.item Июнь
                +e.item Июль
                +e.item Август
                +e.item Сентябрь
                +e.item Октябрь
                +e.item Ноябрь
                +e.item Декабрь
                +e.item Январь
                +e.item Февраль
                +e.item Март
                +e.item Апрель
            +e.map
                img(src='/images/map.png')
                +e.point.south
                    +e.pulse
                +e.point.center
                    +e.pulse
                +e.point.north
                    +e.pulse
                +e.point.ural
                    +e.pulse
                +e.point.siberia
                    +e.pulse
                +e.point.primorsky
                    +e.pulse
                +e.pin.south 
                    +e.pin-title Юг россии
                    +e.pin-text.south Платан, сирень, одуванчик, орех, свекла, сосна, каштан, липа, шелковица, табак
                +e.pin.center 
                    +e.pin-title Центральная полоса
                    +e.pin-text.center Береза, клен, дуб, сосна
                +e.pin.north 
                    +e.pin-title Северо-западный регион
                    +e.pin-text.north Ольха, ива, береза, ясень, тополь, вяз, клен
                +e.pin.ural 
                    +e.pin-title Урал
                    +e.pin-text.ural Ива, ольха, осина, береза, лещина, вяз, клен, дуб, ясень, сосна, липа, мятлик, тимофеевка, овсянница
                +e.pin.siberia
                    +e.pin-title Сибирь
                    +e.pin-text.siberia Береза, одуванчик
                +e.pin.primorsky
                    +e.pin-title Приморский край
                    +e.pin-text.primorsky Береза, дуб, ясень, ольха, лещина, тополь, клен
            +e('a')(href="#").link узнать больше
            +e.wrap-button
                +e.wrap__button-prev
                    +e.arrow
                        img(src='/images/arrow-prev.svg')
                +e.wrap__button-next
                    +e.arrow__next
                        img(src='/images/arrow-next.svg')
            +e.info
                +e('p').text Выбирайте месяц и регион на карте, чтобы посмотреть список цветущих растений
                +e('button').btn-close все понятно
            