@font-face
	font-family 'Bergamasco'
	src url('../../fonts/Bergamasco.woff2') format('woff2')

@font-face
	font-family 'Roboto'
	src url('../../fonts/Roboto.woff2') format('woff2')

@font-face
	font-family 'Robotomedium'
	src url('../../fonts/Robotomedium.woff2') format('woff2')