$ff-Bergamasco = 'Bergamasco', sans-serif
$ff-Roboto = 'Roboto', sans-serif
$ff-Robotomedium = 'Robotomedium', sans-serif

$c-black = #000000
$c-white = #FAFAFC
$c-green = #264E3A
$c-light-green = #4F935C
$c-yellow = #FBFF3F